*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #c5c0c0c2;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family: Poppins;
}

header{
	width: 100%;
}

.navegacion{
	
	margin: 0px auto;
	height:120px;
	
	background: #474747;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	left: 200px;
	top: 20px;
	display: inline-block;
}

.menu > li > a{
	position: relative;
	top: -60px;
	padding: 30px 70px;
	color: #ffffff;
	font-family: 'Poppins';
	text-decoration: none;
}

.menu li a:hover{
	color: #E97442;
	transition: all .3s;
}


.submenu{
	position: absolute;
	top: 100px;
	left: 50px;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}


.submenu{
	position: absolute;
	top: -30px;
	left: 50px;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}


.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Poppins';
	text-decoration: none;
}


.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.submenu2{
	position: right;
	top: 100px;
	right: 50px;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}


.submenu2{
	position: absolute;
	top: -30px;
	left: 50px;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}


.submenu2 li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Poppins';
	text-decoration: none;
}


.menu li:hover .submenu2{
	visibility: visible;
	opacity: 1;
}


.avatar {
    width: 100px;
    height: 120px;
    border-radius: 0%;
    position: left;
    top: 10px;
    size: 100px;
    
  }


.form{
	background: rgba(255, 255, 255, 0.6);
	width: 75%;
	
	margin: auto;
	padding: 25px 70px;
	margin-top: 50px;
	padding-bottom: 30px;
	border-radius: 10px;
	word-spacing: 5px;
	
}


.form .form-label {
	display: ruby;
	color: #000000;
	font-size: 16px;
	 
	position: relative;
	
	
}


.aus {
	background: rgba(255, 255, 255, 0.6);
	width: 75%;
	
	margin: auto;
	padding: 25px 70px;
	margin-top: 20px;
	padding-bottom: 30px;
	border-radius: 10px;
	word-spacing: 5px;
}

.aus {
	display: ruby;
	color: #000000;
	font-size: 16px;
	 
	position: relative;
}

.avatar {
    width: 100px;
    height: 120px;
    border-radius: 0%;
    position: left;
    top: 10px;
    size: 100px;
    
  }

	 button[type="submit"] {
	border: none;
	
	outline: none;
	height: 40px;
	background: #474747;
	color: #fff;
	font-size: 18px;
	border-radius: 15px;
	
  }
  
  	button[type="submit"]:hover {
	
	cursor: pointer;
	background: #E97442;
	color: #000;
  }

  	.botonuwu{
		  position: relative;
		  left: 250px;
		  margin-top: 20px;
	  }

  